name: AWS Static Web Apps CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Build site
        run: yarn install && npm run-script build
      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./dist/ s3://msa-recap-test --delete
